{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}
<div class="col-md-3 col-lg-4 col-sm-12 my-2">
    <div class="card">
        <img src="{{post.blog_image.url}}" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title" style="font-size: 2.5rem;"><em>{{post.title}}</em></h5>
            <p>{{ post.pub_date}} by {{ post.author}}</p>
            <p class="card-text lead">{{post.content|truncatewords:"15"}}</p>
            
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="post.html"><button class="btn btn-primary">Read more...</button></a>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}



