{% extends 'blog/base.html' %}

{% block content %}

<div class="blog-card card m-5 shadow ">
    {% if post.blog_image %}
        <div >
            <img src="{{ post.blog_image.url}}" alt="" srcset="" class="img-fluid" style="width: 913px; height: 300px;">
        </div>
        
    {% else %}
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
                cap</text>
        </svg>
    
    {% endif %}
    

    <article class="card-body">
        <em><h5 class="blog-post-title" style="font-size: 2.5rem;">{{post.title}}</h5></em>
        <p>{{ post.pub_date}} by {{ post.author}}</p>
         <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:post-update' post.slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' post.slug %}">Delete</a>
        </div>
        <p class="card-text lead">{{ post.content}}</p>
    </article>
    <div class="card-footer text-muted">
                <div class="d-flex ">
                    <p>Tags:</p>
                    {% for category in post.categories.all %}
                        <p class="me-2 ">{{category}}</p>
                    {% endfor %}
                </div>
    </div>
</div>



{% endblock content %}





